@page "/"

<div>
    <img src="https://aws1.discourse-cdn.com/funcom/original/2X/f/f6e4f7c3b1606f537a60aec2241f8676f01470ea.png" width="200" height="63" alt="">
    <h2>Welcome to Anarchy online damage calculator!</h2>
</div>

<DamageCalculator />
